<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="header-card bg-dark text-warning">
        <h2>Panel de Administrador</h2>
      </div>
      <ul class="list-group-dark body-card">
        {{#each users}}
          <li class="list-group-item">
            <div class="avatar" style="background-image: url({{ this.avatarPath }})" alt="Avatar"></div>
            <h2>{{this.name}}</h2>
            <h3>Username: <strong>{{this.username}}</strong></h3>
            <h>Email: <strong>{{this.email}}</strong></h>
            <p>Tipo de Usuario: <strong>Admin {{this.isAdmin}}</strong></p>
            <a href="/admin/users/{{this._id}}/edit" class="btn btn-warning">Editar Usuario</a>
            <form action="/admin/users/{{this._id}}/delete" method="POST" class="d-inline">
              <button type="submit" class="btn btn-danger">Borrar Usuario</button>
            </form>
            <h3 class="mt-3">Publicaciones de <strong>{{this.username}}:</strong></h3><br/>
            <ul class="list-group">
              {{#each this.jokes}}
              <h4><strong>Chiste publicado el {{formattedCreatedAt}}</strong></h4>
                <li class="list-group">
                  <p>{{this.content}}</p><br/>
                  
                  <form action="/admin/jokes/{{this._id}}/delete" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Borrar Chiste</button>
                  </form>
                  <h4 class="mt-3"><strong>Comentarios:</strong></h4>
                  <ul class="list-group">
                  {{#each this.comments}}
                    <li class="list-group-item">
                      <p>{{this.content}}</p>
                      <div class="avatar2" style="background-image: url({{ this.author.avatarPath }})" alt="Avatar"></div>
                      <p>Publicado por: <strong>{{this.author.username}}</strong></p>
                      <p>el <strong>{{formattedCreatedAt}}</strong></p>
                      <form action="/admin/comments/{{this._id}}/delete" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Borrar Comentario</button>
                      </form>
                    </li>
                  {{/each}}

                  {{#unless this.comments}}
                      <h3 style="color:brown;">Esta publicación aún no tiene comentarios.</h3>
                    </li>
                {{/unless}}
              </ul>
                <hr>
              {{/each}}

              {{#unless this.jokes}}
                  <h3 style="color:brown;">Este usuario aún no tiene publicaciones.</h3>
                  <hr>
              {{/unless}}
            </ul>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
