<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="header-card">
        <h2>Panel de Administrador</h2>
      </div>
      <ul class="list-group-dark body-card">
        {{#each users}}
          <li class="list-group-item">
            <h4>{{this.name}}</h4>
            <p>Username: {{this.username}}</p>
            <p>Email: {{this.email}}</p>
            <p>Tipo de Usuario (Admin): {{this.isAdmin}}</p>
            <a href="/admin/{{this._id}}/details" class="btn btn-warning">Ver Detalles</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
