<!-- posts/details.hbs -->

<h2>Detalles del Chiste</h2>
<div>
  {{ this.content }}
  <br />
  - by
  {{ joke.author.name }} <!-- Corregir aquí -->
  ♥️
</div>

{{#unless joke.comments}}
  <p>No comments yet!</p>
{{/unless}}

{{#each joke.comments}}
  <!-- Mostrar los comentarios -->
  <h3>Comentarios:</h3>
  <ul>
    <li>{{ this.content }} - {{ this.author.name }}</li> <!-- Corregir aquí -->
  </ul>
{{/each}}

<hr />

<h3>Add comment</h3>

<form action="/jokes/{{ joke._id }}" method="post"> <!-- Corregir aquí -->
  <!-- Resto del formulario -->

  <label>
    {{ currentUser.username }} <!-- Mostrar el nombre del usuario logueado -->
  </label>

  <input type="text" name="author" value="{{ currentUser.username }}" hidden /> <!-- Corregir aquí -->
  <textarea name="content" cols="30" rows="2"></textarea>

  <button type="submit">Comment</button>
</form>

<br />
<a href="/jokes/{{ currentUser._id }}">See all {{ currentUser.username }}'s jokes</a>
