<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="header-card">
        <h2>Lista de Chistes Publicados</h2>
      </div>
      <div class="body-card">
        <ul class="list-group">
          {{#each jokes}}
            <li class="list-group-item">
              <div class="joke-list-user">
              <h5 class="mb-2">Autor: {{this.author.username}}</h5>
              <img src="{{this.author.avatarPath}}" alt="Avatar" class="rounded" style="border: 2px solid #ffd504;">
              </div>
              <p class="mb-2"><strong>Contenido:</strong> {{this.content}}</p>
              <h6 class="mb-2">Comentarios:</h6>
              <ul class="list-group">
                {{#each this.comments}}
                  <li class="list-group-item">
                    <strong>{{this.author.username}}</strong>: {{this.content}}
                  </li>
                {{/each}}
              </ul>
              <a href="/jokes/{{this._id}}" class="btn btn-warning btn-sm mt-2">Ver Detalles y Comentar</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<img
    id="playLaughSound"
    src="/images/botonRisa.png"
    alt="Icono de risa"
    class="laugh-icon"
  > 
