<!-- views/jokes/jokes-list.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes List</title>
</head>
<body>
    <h1>Jokes List</h1>
    <ul>
        {{#each jokes}}
            <li>
                <strong>Author:</strong> {{this.author.username}}
                <br>
                <strong>Content:</strong> {{this.content}}
                <br>
                <strong>Comments:</strong>
                <ul>
                    {{#each this.comments}}
                        <li>
                            <strong>{{this.author.username}}</strong>: {{this.content}}
                        </li>
                    {{/each}}
                </ul>
                <form action="/jokes/{{this._id}}/comment" method="POST">
                    <label for="content">Comment:</label>
                    <textarea name="content" id="content" required></textarea>
                    <button type="submit">Add Comment</button>
                </form>
                <hr>
            </li>
        {{/each}}
    </ul>
</body>
</html>
