<!-- joke-details.hbs -->
<h2>Detalles del Chiste</h2>
<div>
  {{content}}
  <br />
  - by
  {{author.username}}
  ♥️
</div>

{{#unless comments}}
  <p>No comments yet!</p>
{{/unless}}

{{#each comments}}
  <!-- Mostrar los comentarios -->
  <h3>Comentarios:</h3>
  <ul>
    <li>{{this.content}} - {{this.author.name}}</li>
  </ul>
{{/each}}

<hr />

<h3>Add comment</h3>

<form action="/jokes/create/comment" method="post">
  <!-- Campo oculto para el ID del chiste -->
  <input type="hidden" name="jokeId" value="{{_id}}">
  <label>
   <p> {{author.username }}: </p> 
  </label>
  <textarea name="content" cols="30" rows="2"></textarea>
  <button type="submit">Comment</button>
</form>

<br />
<a href="/jokes/{{author._id}}">See all {{author.username}}'s jokes</a>
