{{! posts/details.hbs }}

<h2>Detalles del Chiste</h2>
<div>
  {{content}}
  <br />
  - by
  {{author.username}}
  ♥️
</div>

{{#unless comments}}
  <p>No comments yet!</p>
{{/unless}}

{{#each comments}}
<!-- Mostrar los comentarios -->
<h3>Comentarios:</h3>
<ul>
  {{#each joke.comments}}
    <li>{{this.content}} - {{this.author.name}}</li>
  {{/each}}
</ul>
  <p><b>{{this.author.username}}:</b> {{this.content}}</p>
{{/each}}

<hr />

<h3>Add comment</h3>

<form action="/jokes/{{_id}}" method="post">
  <!-- Resto del formulario -->

  <label>
    Your username:
    <input type="text" name="author" />
  </label>

  <input type="text" name="jokeAuthor" value="{{author.username}}" hidden />
  <textarea name="content" cols="30" rows="2"></textarea>

  <button type="submit">Comment</button>
</form>

<br />
{{#each author.name}}
<a href="/jokes/{{author._id}}">See all {{this.author.username}}'s jokes </a>
{{/each}}


