<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="header-card">
        <h2>Lista de Chistes Publicados</h2>
      </div>
      <div class="body-card">
        <ul class="list-group">
          {{#each jokes}}
          <li class="list-group-item">
            <p class="mb-2">{{this.content}}</p>
            <div class="joke-list-user">
              <div class="avatar" style="background-image: url({{ this.author.avatarPath }})" alt="Avatar"></div>
              <h5 class="mb-2">Publicado por: <strong>{{this.author.username}}</strong></h5>
            </div>
            <p>el <strong>{{this.formattedCreatedAt}}</strong></p>

            <h3 class="mb-2">Comentarios:</h3>
            <ul class="list-group">
              {{#if this.comments.length}}
                {{#each this.comments}}
                  <li class="list-group-item">
                    <p>{{this.content}}</p><br/>
                    <div class="avatar2" style="background-image: url({{ this.author.avatarPath }})" alt="Avatar"></div>
                    <strong>{{this.author.username}}</strong>
                    <p>el <strong>{{formattedCreatedAt}}</strong></p>
                  </li>
                {{/each}}
              {{else}}
                <li class="list-group-item">
                  <p style="color:brown;">Aún no hay comentarios en esta publicación.</p>
                </li>
              {{/if}}
            </ul>
            <a href="/jokes/{{this._id}}" class="btn btn-warning btn-sm mt-2">Comentar</a>
          </li>
        {{/each}}
      </ul>

      </div>
    </div>
  </div>
</div>

