<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="header-card">
        <h2>Mi Perfil</h2>
      </div>
     <div class="body-card2">
        <div class="avatar3" style="background-image: url({{ user.avatarPath }})" alt="Avatar"></div>
        <h3>{{user.name}}</h3>
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
      </div>
      <a class="btn btn-warning" href="/users/edit-profile">Editar Perfil</a>
    </div>
    <div class="col-md-8">
      <div class="header-card">
        <h2>Mis Chistes</h2>
      </div>
      <div class="body-card">
        {{#each user.jokes}}
          <div class="mb-4">
            <h3>{{title}}</h3>
            <p>{{content}}</p>
            <p><strong>Comentarios:</strong></p>
            <ul>
              {{#each comments}}
                <li>
                  <p>{{this.content}}</p>
                  <div class="avatar2" style="background-image: url({{ this.author.avatarPath }})" alt="Avatar"></div>
                  <p>Publicado por: <strong>{{this.author.username}}</strong></p>
                  

                </li>
              {{/each}}
            </ul>
            <form action="/users/profile/{{this._id}}/delete" method="post">
              <button type="submit" class="btn btn-sm btn-danger" onclick="confirmDelete()">Borrar Chiste y Comentarios</button>
            </form>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
